html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 2.7vh;
    color: #000;
    font-family: 'Open Sans', Meiryo, sans-serif;
    background: #fff;
    position: fixed;
}

body {
    margin: 0 auto;
    padding: 0;
    height: 100%;
    max-width: 100vh;
    min-width: 15rem;
    min-height: 500px;
    position: relative;
    background: #fff;
}

/*
* {
    -webkit-user-select: none;
}
*/

#to-setting {
    height: 4vh;
    width: 4vh;
    top: 2vh;
}

#to-timer {
    height: 4vh;
    line-height: 8vh;
}

h1 {
    height: 8vh;
    line-height: 8vh;
    box-sizing: border-box;
}

#progress {
    height: 7vh;
    box-sizing: border-box;
    /*background: #cfc;*/
}

#setting-info {
    height: 8vh;
    box-sizing: border-box;
    /*background: #ffc;*/
}

#indicator {
    height: 50vh;
    box-sizing: border-box;
    /*background: #ccf;*/
}

#buttons {
    height: 27vh;
    box-sizing: border-box;
    /*background: #fcf;*/
}



h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1rem;
    font-weight: normal;
    background-image: linear-gradient(to bottom, #edeff1, 75%, #fefefe);
    box-shadow: 0 1px 3px 0px #ccc;
}

#to-setting {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    z-index: 2;
    right: 0.6rem;
}

#to-setting img {
    width: 100%;
    height: 100%;
    filter: drop-shadow(0px 1px 1px #aaa);
}

#to-setting a:active {
    position: relative;
    top: 1px;
}

#to-timer {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 5px;
    font-size: 0.85rem;
}

#to-timer a {
    text-decoration: none;
    color: #42a4f4;
}

#to-timer li::first-letter {
    font-weight: bold;
}

#progress {
    margin: 0;
    padding: 0.5rem 0.6rem 0;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#progress progress {
    width: calc(100% - 7em);
    height: 35%;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 6px;
}

#progress progress::-moz-progress-bar {
    background-color: #42a4f4;
    border-radius: 5px;
}

#progress progress::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 6px;
}

#progress progress::-webkit-progress-value {
    background-color: #42a4f4;
    border-radius: 5px;
}

#progress span {
    width: 3.5em;
}

#current-time {
    text-align: left;
}

#total-time {
    text-align: right;
}

#setting-info {
    /*outline: 1px solid blue;*/
    margin: 0;
    padding: 0 0.6rem 0;
    font-size: 1.1rem;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 4.5em 4.5em 1fr 2.5em 3.5em;
    grid-template-areas:
        "label11 value11 . set-label set-value"
        "label21 value21 . set-label set-value";
}

#setting-info dt,
#setting-info dd {
    /*outline: 1px solid gray;*/
    margin: 0;
    padding: 0;
}

body.activity #activity-label,
body.activity #activity-time,
body.interval #interval-label,
body.interval #interval-time {
    color: #000;
}

#activity-label {
    grid-area: label11;
    text-align: left;
    color: #c8c8c8;
}

#activity-time {
    grid-area: value11;
    text-align: left;
    color: #c8c8c8;
}

#interval-label {
    grid-area: label21;
    text-align: left;
    color: #c8c8c8;
}

#interval-time {
    grid-area: value21;
    text-align: left;
    color: #c8c8c8;
}

#set-label {
    grid-area: set-label;
    text-align: right;
}

#set-count {
    grid-area: set-value;
    text-align: right;
}

#indicator {
    position: relative;
    width: 100%;
    display:flex;
    align-items: center;
    /*outline: 1px solid orange;*/
}

canvas {
    display: block;
    margin: auto;
    /*outline: 3px double blue;*/
}

#count-down {
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 11rem;
    height: 3.5rem;
    line-height: 1;
    font-size: 3.5rem;
    text-align: center;
    transform-style: preserve-3d;
    transition-duration: 0.4s;
    transition-timing-function: ease;
}

#ready, #activity, #interval {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    background:#fff;
}

#interval { /* #activityの裏側にする */
    transform: rotateX(180deg);
}

.invisible {
    visibility: hidden;
}

.flip { /* activityとintervalの切り替わりのタイミングで#count-down要素にtoggleされる */
    transform: rotateX(180deg);
}

#set-count::first-letter {
    font-size: 2rem;
}

.ready-count { /* readyTimerの更新ごとに#ready要素にaddされる */
    transform: scale3d(1.8, 1.8, 1.8);
}


/* 完了時に#ready要素に追加される 
https://daneden.github.io/animate.css/
*/
@-webkit-keyframes rubberBand {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }
  
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
}
  
@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}


.rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#buttons {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 50vh;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*outline: 1px solid red;*/
}

button {
    border-radius: 50%;
    border: 1px solid #adcbfa;
    color: #007AFF;
    background-image: linear-gradient(to bottom, #fefefe, 30%, #eff5ff);
    box-shadow: 0 1px 2px 1px #eee;
    transition-property: box-shadow, background-image;
    transition-duration: 1s;
    position:relative;
    top: -0.6rem;
}

#butInstall {
    border: none;
    background: inherit;
    box-shadow: none;
    transition: none;
}

button:hover {
    background-image: linear-gradient(to bottom, #ffffff, 60%, #eff5ff);
}

button:active {
    box-shadow: 0 1px 0px 0px #eee;
    background-image: linear-gradient(to bottom, #ffffff, 80%, #eff5ff);
    transform: translate3d(0px, 1px, 1px);
    outline: none;
}

button.disabled {
    background-image: linear-gradient(to bottom, #ffffff, 30%, #fcfcfc);
}



#start-btn {
    order: 2;
    width: 18vh;
    height: 18vh;
    font-size: 3.8vh;
}

#pause-btn {
    order: 3;
    width: 12vh;
    height: 12vh;
    font-size: 2vh;
}

#reset-btn {
    order: 1;
    width: 12vh;
    height: 12vh;
    font-size: 2vh;
}

.disabled {
    border-color: #d8d8d8;
    color: #c8c8c8;
}


/* Setting */
body#setting {
    background: #efefef;
    animation-name: appear;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease-out;
}

@keyframes appear {
    0% {
        transform: translateX(70%);
    }
    100% {
        transform: translateX(0);
    }
}


#user-setting {
    margin: 1rem 0 0;
    padding: 0;
    list-style: none;
}

#user-setting > li {
    margin: 0;
    padding: 0 1rem;
    line-height: 2.8rem;
    border-bottom: 1px solid #ccc;
    background: #fff;
}

#user-setting li#setting-total {
    display: flex;
    justify-content: space-between;
    background: transparent;
    border-bottom: none;
}

#user-setting li#setting-set {
    margin-bottom: 3rem;
}

#user-setting details {
    height: 2.8rem;
    transition: 0.3s;
    margin: 0;
    padding: 0;
    position: relative;
}

#user-setting details[open] {
    height: 12.8rem;
}

#user-setting details div {
    opacity: 0;
    transition: 1s;
}

#user-setting details[open] div {
    opacity: 1;
}

#user-setting summary {
    list-style: none;
    display: flex;
    justify-content: space-between;
    outline: none;
}

#user-setting summary::-webkit-details-marker {
    display: none;
}

#user-setting summary .value {
    color: #666;
}

li.checkbox {
    display: flex;
    justify-content: space-between;
}

li.checkbox span {
    position: relative;
}

li.checkbox label {
    display: block;
    width: calc(100% - 3rem);
}

input[type="checkbox"] {
    /* チェックボックスを擬似要素に重ねて隠す。微妙な位置決めが必要 */
    width: 3rem;
    height: 1rem;
    line-height: 1rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 0; 
}

input[type="checkbox"]::before {/* トグルスイッチの背景部分 */
    content: "";
    display: block;
    width: 2.8rem;
    height: 1.7rem;
    background: #ffffff;
    border-radius: 0.8rem;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    box-shadow: 1px 1px 1px 0px #bbb inset;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

input[type="checkbox"]::after { /* トグルスイッチの丸い部分 */
    content: "";
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 0;
    left: auto;
    bottom: 0;
    right: 0.2rem;
    margin: auto;
    z-index: 10;
    box-shadow: 1px 1px 1px 0px #bbb;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transform: translateX(-1.1rem);
}

input[type="checkbox"]:checked::before {
    background: #62ea70;
}

input[type="checkbox"]:checked::after {
    transform: translateX(0.05rem);
}

/* ロールピッカー */
.picker {
    position: absolute;
    overflow: hidden;
    height: 10rem; /* widthは個別に指定する */
    left: 0;
    right: 0;
    margin: auto;
}

#picker-activity-min,
#picker-interval-min {
    width: 6rem;
    left: -6rem;
    right: 0;
}

#picker-activity-sec,
#picker-interval-sec {
    width: 6rem;
    left: 0;
    right: -6rem;
}

#picker-set {
    width: 12rem;
}

.picker ul {
    width: 100%;
    margin: 0;
    padding: 4rem 0 0;
    list-style: none;
    transition-property: transform;
    transition-duration: 0.2s;
}

.picker li {
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.2rem;
    text-align: center;
    box-sizing: border-box;
    color: #666;
    margin: 0;
    padding: 0;
}

.picker li.current {
    height: 3rem;
    line-height: 3rem;
    font-size: 1.5rem;
    color:#000;
}

.picker li.two-before,
.picker li.two-after {
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 1rem;
    color: #aaa;
}

.picker li.two-before {
    transform: rotateX(40deg);
}

.picker li.two-after {
    transform: rotateX(-40deg);
}

.picker.min::before,
.picker.sec::before {
    width: 2rem;
    height: 3rem;
    font-size: 1rem;
    line-height: 3rem;
    text-align: right;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: auto;
    margin: auto;
    color: #666;
}
.picker.min::before {
    content: "min";
}

.picker.sec::before {
    content: "sec";
}